.App {
  text-align: left;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Logo {
  margin-right:auto;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
}

.Logo > img {
  width:200px;
}

.Clouds {
  position: relative;
  z-index: 0;
}

.Log-In {
  position: relative;
  z-index: 1;
  margin-top: 5px;
  right: 5px;
}

.btn {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(370%, -120%);
  -ms-transform: translate(-50%, -50%);
  background-color:green;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 200px;
  height: 75px;
}

.General-Desc {
  padding-top: 200px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 50pt;
  color: white;
}

.p1 {
  text-align: center
}

.p2 {
  text-align: center
}

.p3 {
  text-align: center
}

.p4 > img {
  width: 1000px;
}

.p4 {
  text-align: center
}

.b1 {
  text-align: center
}

.b2 {
  text-align: center
}

.b3 {
  text-align: center
}


.b1 >img {
  width: 800px;
}

.b2 >img {
  width: 800px;
}

.b3 >img {
  width: 800px;
}

.in {
  text-align: center
}

.in > img {
  width: 1000px;
}

.Calculate {
  position: absolute;
  transform: translate(-50%, -50%);

}

/* Style the search field */
form.example input[type=text] {
  top: 50%;
  left: 50%;
  font-size: 17px;
  border: 1px solid grey;
  width: 20%;
  background: #f1f1f1;
  position: absolute;
  transform: translate(-50%, -50%);

}

/* Style the submit button */
form.example button {
  width: 10%;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}