.App {
  text-align: left;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Logo {
  margin-right:auto;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
}

.Logo > img {
  width:200px;
}

.Clouds {
  position: relative;
  z-index: 0;
}

.Log-In {
  position: absolute;
  z-index: 1;
  margin-top: 5px;
  right: 5px;
}

.Log-In > button {
  width: 200;
  height: 100;

}